html {
    height: 100%;
}

body {
    background: #E2E4E7;
    padding: 0;
    text-align: center;
    font-family: 'open sans';
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    height: 100% !important;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

a {
    text-decoration: none;
}

h1, h2 {
    width: 100%;
    float: left;
}

h1 {
    margin-top: 100px;
    color: #000;
    margin-bottom: 5px;
    font-size: 70px;
    letter-spacing: -4px;
    font-weight: 100;
}

h1 span {
    font-size: 26px;
    margin: 0 5px;
    text-transform: capitalize;
    background: rgba(0, 0, 0, 0.85);
    display: inline-block;
    color: #6D461D;
    border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    padding: 3px 10px;
}

h2 {
    color: #6D461D;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
}

.pointer {
    color: #9b59b6;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    margin-top: 15px;
}

code {
    margin: 20px 1%;
    float: left;
    width: 48%;
    height: 105px;
    background: rgba(0, 0, 0, 0.1);
    border: rgba(0, 0, 0, 0.05) 5px solid;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    display: block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

code.html {
    color: #7EC9E6;
}

code.js {
    color: #FFAD00;
}

.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}

.main h1 {
    padding: 150px 50px;
    float: left;
    width: 100%;
    font-size: 45px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-weight: 100;
    color: white;
    margin: 0;
}

.main h1.demo1 {
    background: #1ABC9C;
}

.reload.bell {
    font-size: 12px;
    padding: 20px;
    width: 45px;
    text-align: center;
    height: 47px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
}

.reload.bell #notification {
    font-size: 25px;
    line-height: 140%;
}

.reload, .btn {
    display: inline-block;
    border: 4px solid #A2261E;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: #CC3126;
    display: inline-block;
    line-height: 100%;
    padding: 0.7em;
    text-decoration: none;
    color: #fff;
    width: 100px;
    line-height: 140%;
    font-size: 17px;
    font-family: open sans;
    font-weight: bold;
}

.reload:hover {
    background: #444;
}

.btn {
    width: 200px;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    background: rgba(3, 3, 3, 0.75);
}

.clear {
    width: auto;
}

.btn:hover, .btn:hover {
    background: #444;
}

.btns {
    width: 410px;
    margin: 50px auto;
}

.credit {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 410px;
    clear: both;
}

.credit a {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

header {
    position: relative;
    z-index: 10;
}

.main section .page_container {
    position: relative;
    top: 25%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}

.main section {
    overflow: hidden;
}

.main section > img {
    position: absolute;
    max-width: 100%;
    z-index: 1;
}

.main section.page1 {
    /*background:rgb(230, 217, 200);*/
    background: #ffffff;
}

.main section.page1 h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
    font-size: 70px;
    color: black;
}

.main section.page1 h2 {
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
    width: 435px;
    line-height: 160%;
}

.main section .page_container .btns {
    clear: both;
    float: left;
    text-align: center;
    width: 435px;
}

.main section .page_container .btns a {
    text-align: center;
}

.main section.page2 {
    background: url(/img/captain-sticker.png) no-repeat 60px 50px;
}

.main section.page2 .page_container {
    overflow: hidden;
    width: 500px;
    right: -285px;
}

.main section.page2 h1 {
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    font-size: 70px;
    letter-spacing: -1px;
    color: black;
}

.main section.page2 h2 {
    color: rgba(0, 0, 0, 0.85);
    text-align: left;
    line-height: 160%;
    font-weight: 100;
    font-size: 21px;
}

body.disabled-onepage-scroll .onepage-wrapper section {
    min-height: 100%;
    height: auto;
}

body.disabled-onepage-scroll .main section .page_container, body.disabled-onepage-scroll .main section.page2 .page_container {
    padding: 20px;
    margin-top: 150px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body.disabled-onepage-scroll section .page_container h1 {
    text-align: center;
    font-size: 50px;
}

body.disabled-onepage-scroll section .page_container h2, body.disabled-onepage-scroll section .page_container .credit, body.disabled-onepage-scroll section .page_container .btns {
    text-align: center;
    width: 100%;
}

body.disabled-onepage-scroll .main section.page1 > img {
    position: absolute;
    width: 80%;
    left: 10%;
}

body.disabled-onepage-scroll .main section > img {
    position: relative;
    max-width: 80%;
    bottom: 0;
}

body.disabled-onepage-scroll code {
    width: 95%;
    margin: 0 auto 25px;
    float: none;
    overflow: hidden;
}

body.disabled-onepage-scroll .main section.page2 .page_container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

.captain {

}

a.get-link {
    cursor: pointer;
}

.hidden {
    display: none;
}

form.personalize-form {
    text-align: left;
}

input.form-input {
    width: 200px;
    color: rgb(255, 255, 255);
    border: 4px solid rgb(0, 0, 0);
    background: rgba(3, 3, 3, 0.75);
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
}

input.form-input:hover {
    background: #444;
}

.get-link {
    text-align: center;
    display: inline-block;
}

/* animated arrow */

@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-ms-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

#share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
}

#share-buttons {
    display: table-cell;
    padding-top: 40px;
}

/* arrow */

.arrows-up-container {
    position: fixed;
    top: 10px;
    z-index: 999;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    right: 20px;
    overflow: hidden;
    text-align: center;
}

.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #5f5f5f;
    margin-top: -10px;
    margin-left: -20px;
}

.arrow_pos1 {
    top: 60%;
    left: 50%;
}

.arrow_pos2 {
    top: 40%;
    left: 50%;
}

@-webkit-keyframes flip-in1 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-moz-keyframes flip-in1 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-ms-keyframes flip-in1 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-o-keyframes flip-in1 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@keyframes flip-in1 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    50% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-webkit-keyframes flip-in2 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    60% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-moz-keyframes flip-in2 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    60% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-ms-keyframes flip-in2 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    60% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@-o-keyframes flip-in2 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    60% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

@keyframes flip-in2 {
    0% {
        margin-top: 40px;
        opacity: 0;
    }
    60% {
        margin-top: 0px;
        opacity: 1;
    }
    99% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 40px;
        opacity: 0;
    }
}

.arrowflip1 {
    -webkit-animation-name: flip-in1;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flip-in1;
    -moz-animation-duration: 2.0s;
    -moz-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: flip-in1;
    -ms-animation-duration: 2.0s;
    -ms-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -ms-animation-iteration-count: infinite;
    -o-animation-name: flip-in1;
    -o-animation-duration: 2.0s;
    -o-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-animation-iteration-count: infinite;
    animation-name: flip-in1;
    animation-duration: 2.0s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
}

.arrowflip2 {
    -webkit-animation-name: flip-in2;
    -webkit-animation-duration: 2.0s;
    -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: flip-in2;
    -moz-animation-duration: 2.0s;
    -moz-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -moz-animation-iteration-count: infinite;
    -ms-animation-name: flip-in2;
    -ms-animation-duration: 2.0s;
    -ms-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -ms-animation-iteration-count: infinite;
    -o-animation-name: flip-in2;
    -o-animation-duration: 2.0s;
    -o-animation-timing-function: cubic-bezier(1, 0, 0, 1);
    -o-animation-iteration-count: infinite;
    animation-name: flip-in2;
    animation-duration: 2.0s;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    animation-iteration-count: infinite;
}